circos/*/*.png
circos/circos-synall1/
*.html
*.zip
circos/circos-matepair-fusions/circos-matepair/data/annotation/
circos/circos-matepair-fusions/circos-matepair/data/fusion/
circos/circos-matepair-fusions/circos-matepair/data/cnv/
circos/circos-matepair-fusions/csvlists-leukemia/
*.png
*.csv
*.txt
*.svg
*.ods
*.xls
*.xlsx
*.circos
